@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --purple: #530753;
  --blue: #2c2c54;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  transition: all 0.2s linear;
  box-sizing: border-box;
}
*::selection {
  background: var(--purple);
  color: #fff;
}

body {
  scroll-behavior: smooth;
}
